body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-image: url('../img/header.jpg'); /* Aquí debes colocar la imagen de fondo */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 20px;;
}

.nav a {
    margin: 10px;
    color:rgb(96, 87, 224);
}

.contenedor {
    padding: 20px;
}

.imagen-principal {
    border-radius: 10px;
}

.galleria {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 20px;
}

.galleria-img {
    width: 200px;
    height: 150px;
    border-radius: 10px;
}
